/* COLORS */

:root {
  --dfa-yellow: #fcf539;
  --dfa-pink: #f6539e;
  --dfa-green: #b5e100;
  --dfa-blue: #1082d7;
  --dfa-orange: #fd861f;
  --dfa-purple: #c14ae1;
  --dfa-dark-yellow: #c08a00;
  --dfa-dark-pink: #aa195c;
  --dfa-dark-green: #5d7400;
  --dfa-dark-blue: #1b3862;
  --dfa-dark-orange: #a74d00;
  --dfa-dark-purple: #6f038b;
  --dfa-light-yellow: #fffb98;
  --dfa-light-pink: #ffadd3;
  --dfa-light-green: #e4ff75;
  --dfa-light-blue: #b4dfff;
  --dfa-light-orange: #ffcc6a;
  --dfa-light-purple: #eca4ff;
  --dfa-logo-bg: #1b3862;
}

.bg-yellow {
  background-color: var(--dfa-yellow);
}

.bg-pink {
  background-color: var(--dfa-light-pink);
}

.bg-green {
  background-color: var(--dfa-green);
}

.bg-blue {
  background-color: var(--dfa-dark-blue);
}

/* GLOBAL STYLES */

body {
  background-image: url('./img/bg.svg');
  background-size: 100%;
  /*background-attachment: fixed;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
a,
p {
  font-family: 'Josefin Sans', sans-serif;
}

/*
a.active, a:hover {
  text-decoration: underline !important;
}
*/

/* override bootstrap lead paragraph style */
.lead {
  font-weight: bold;
  font-size: 1.2rem;
}

img.content-img {
  object-fit: cover;
  width: 100%;
}

/* Navbar */
.navbar .navbar-brand {
  background-color: var(--dfa-logo-bg);
  padding: 0.5rem;
}

.navbar .navbar-nav .nav-item {
  margin: 0 3px 0 3px;
}

.navbar .navbar-nav .nav-link {
  /* override bootstrap */
  color: white;
  padding: 0.5rem;
}

.navbar.bg-pink .navbar-nav .nav-link:focus,
.navbar.bg-pink .navbar-nav .nav-link:hover,
.navbar.bg-pink .navbar-nav .nav-link.active {
  background-color: var(--dfa-dark-pink);
  color: white;
}

.navbar.bg-blue .navbar-nav .nav-link:focus,
.navbar.bg-blue .navbar-nav .nav-link:hover,
.navbar.bg-blue .navbar-nav .nav-link.active {
  background-color: var(--dfa-dark-blue);
  color: white;
}

.navbar.bg-yellow .navbar-nav .nav-link:focus,
.navbar.bg-yellow .navbar-nav .nav-link:hover,
.navbar.bg-yellow .navbar-nav .nav-link.active {
  background-color: var(--dfa-dark-yellow);
  color: white;
}

.navbar.bg-green .navbar-nav .nav-link:focus,
.navbar.bg-green .navbar-nav .nav-link:hover,
.navbar.bg-green .navbar-nav .nav-link.active {
  background-color: var(--dfa-dark-green);
  color: white;
}

/* Carousel */

.carousel-caption {
  padding: 1rem;
  font-size: 0.9em;
  text-align: left;
}

.carousel-caption-1 {
  position: absolute;
  top: auto;
  bottom: 4rem;
  left: auto;
  right: 8rem;
  width: 13rem;
  height: 8rem;
  background-color: var(--dfa-dark-blue);
  z-index: 10;

  color: var(--dfa-light-blue);

  box-shadow: 10px 10px 0 0px var(--dfa-blue);
}

.carousel-caption-2 {
  position: absolute;
  top: 2rem;
  bottom: auto;
  left: 9rem;
  right: auto;
  width: 13rem;
  height: 8rem;
  background-color: var(--dfa-light-orange);
  z-index: 10;

  color: var(--dfa-dark-orange);

  box-shadow: 10px 10px 0 0px var(--dfa-orange);
}

.carousel-caption-3 {
  position: absolute;
  top: auto;
  bottom: 4rem;
  left: 8rem;
  right: auto;
  width: 13rem;
  height: 8rem;
  background-color: var(--dfa-dark-green);
  z-index: 10;

  color: var(--dfa-light-green);

  box-shadow: 10px 10px 0 0px var(--dfa-green);
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 38rem; /* height of carousel*/
  background-color: #777;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item-1 {
  background-image: url(./img/carousel_1.jpg);
}

.carousel-item-2 {
  background-image: url(./img/carousel_2.jpg);
}

.carousel-item-3 {
  background-image: url(./img/carousel_3.jpg);
}

.carousel-item-4 {
  background-image: url(./img/carousel_4.jpg);
}

.carousel-item-5 {
  background-image: url(./img/carousel_5.jpg);
}

.carousel-item-5 {
  background-image: url(./img/carousel_6.jpg);
  background-position: right 50% bottom 10%; /* for elizabeth's forehead lmao */
}

/*
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  object-fit: cover;
}
*/

.carousel-spacer {
  background-color: var(--dfa-pink);
}

/* Content styles */

.postit-section {
  width: 80%;
  margin: 3rem auto 4rem auto;
  padding: 2rem;
  position: relative;
}

.corner-topleft {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}

.corner-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
}

.postit-blue {
  background-color: var(--dfa-light-blue);
  box-shadow: 10px 10px 0 0 var(--dfa-dark-blue);
  color: black;
}

.postit-orange {
  background-color: var(--dfa-light-orange);
  box-shadow: 10px 10px 0 0 var(--dfa-dark-orange);
  color: black;
}

.postit-yellow {
  background-color: var(--dfa-yellow);
  box-shadow: 10px 10px 0 0 var(--dfa-dark-yellow);
  color: black;
}

.postit-green {
  background-color: var(--dfa-green);
  box-shadow: 10px 10px 0 0 var(--dfa-dark-green);
  color: black;
}

.postit-purple {
  background-color: var(--dfa-light-purple);
  box-shadow: 10px 10px 0 0 var(--dfa-dark-purple);
  color: black;
}

.postit-pink {
  background-color: var(--dfa-light-pink);
  box-shadow: 10px 10px 0 0 var(--dfa-dark-pink);
  color: black;
}

.postit-blue .corner-topleft {
  border-top: 2.5em solid var(--dfa-blue);
  border-right: 2.5em solid transparent;
}

.postit-blue .corner-bottomleft {
  border-bottom: 2.5em solid var(--dfa-blue);
  border-right: 2.5em solid transparent;
}

.btn,
.postit-blue .btn {
  background-color: var(--dfa-blue);
  color: white !important;
  font-family: 'Josefin Sans', sans-serif;
}

/* about page people, override bootstrap card styles ugh */
.card-dfa-person {
  align-items: center;
  border: none;
  border-radius: unset;
  background-color: unset;
}

.card-dfa-person .card-img-top {
  width: 75%;
  min-width: 100px;
  border-radius: 50%;
}

.card-dfa-person .card-body {
  padding: 0.75rem 0 2rem 0;
}

.card-dfa-person p {
  margin: 0;
}

.brick-title {
  width: 15rem;
}

.brick-title img {
  width: 100%;
}

/* titles */

.title-current-members {
  transform: matrix(1, -0.04, 0.04, 1, 0, 0); /* tilt left */
}

.title-alumni {
  transform: matrix(1, 0.04, -0.04, 1, 0, 0); /* tilt right */
}

.dfa-list-projects .row {
  height: 12rem;
}

.title-year img {
  height: 8rem;
}

.group-photo {
  max-width: 100%;
}

.footer {
  color: white;
}

.about-headshots {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

.about-headshots img {
  width: 150px;
  border-radius: 50%;
  margin: 10px;
}

.about-headshots p {
  margin: 0;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.project-links img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

.outreach-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
  background-color: var(--dfa-light-blue);
  color: black;
}

.outreach-text {
  width: 50%;
  padding: 2rem;
  background-color: var(--dfa-light-blue);
}

.outreach-child {
  width: 50%;
}

.outreach-postit {
  width: 100%;
  margin: 3rem auto 4rem auto;
  position: relative;
}
